*|body {
  padding-left: 11em;
  font-family: Georgia,"Times New Roman",Times,serif;
  color: #1e656d;
  background-color: #f1f3ce;
}
*|ul.navbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em;
}
*|h1 {
  font-family: Helvetica,Geneva,Arial,SunSans-Regular,sans-serif;
}
*|ul.navbar *|li {
  margin: 0.5em 0;
  padding: 0.3em;
  background: #990000 none repeat scroll 0% 50%;
  border-right-width: 1em;
  display: block;
  border-right-color: #f62a00;
}
*|ul.navbar *|a {
  border: 7px outset #cea57b;
  margin: -4px -6px -4px -5px;
  padding: 2px 2px 6px 6px;
  color: #6666cc;
  text-decoration: none;
  font-style: italic;
  background-color: #fdcafd;
  font-weight: bold;
  display: block;
  text-align: center;
}
*|a:link {
  color: #1e656d;
}
*|a:visited {
  color: #00293c;
}
*|address {
  border-top: thin dotted;
  margin-top: 1em;
  padding-top: 1em;
}
